@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url('/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.glass-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.031);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
